* {
  box-sizing: border-box;
  padding: 0em;
  margin: 0em; }

/* BASE ------------------------------------------- */
h1,
h2 {
  font-family: Arial; }

p {
  font-family: Arial; }

a {
  color: #1b1242;
  text-decoration: none; }

input[type="button"],
.btn {
  border-radius: 50px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(27, 18, 66, 0.25);
  border: 2px solid #1b1242;
  font-family: Arial;
  color: #1b1242;
  text-shadow: 0px 4px 4px rgba(27, 18, 66, 0.25);
  font-size: 1em;
  outline: none;
  margin: 1.5em 0em;
  cursor: pointer; }

input[type="email"],
input[type="password"],
input[type="text"] {
  border-radius: 0.5em;
  padding: 0.8em 0em;
  padding-left: 0.8em;
  width: 100%;
  border: 1px solid #1b1242;
  font-size: 1em;
  margin-bottom: 0.8em;
  margin-right: 0.8em;
  background-color: #e8f0fe; }
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="text"]:focus {
    background-color: #fff;
    outline: none; }
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder {
    color: rgba(27, 18, 66, 0.5); }

.col-md-6 {
  width: 50%; }

.hide-md {
  display: none !important; }

.row {
  display: flex;
  flex-direction: row; }

.container {
  display: flex;
  flex-direction: column; }

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%; }

  .hide-sm {
    display: none !important; }

  .hide-md {
    display: flex; } }
/* COMPONENTS ------------------------------------------- */
.login-left {
  background-color: #1b1242;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  color: #e8f0fe;
  font-family: Arial; }
  .login-left p {
    text-align: left; }
  .login-left button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #e8f0fe;
    color: #e8f0fe; }
.login-right {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center; }
  .login-right .pg-title {
    display: flex;
    justify-content: center;
    color: #1b1242;
    font-weight: bold;
    text-align: center; }
  .login-right input[type="button"] {
    background-color: rgba(0, 0, 0, 0); }
    .login-right input[type="button"]:hover {
      background-color: #1b1242;
      color: #e8f0fe; }
  .login-right p.password-reset {
    float: right; }

.socials {
  display: flex;
  justify-content: center; }

.icon {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #1b1242;
  background-color: #e8f0fe;
  width: 3em;
  height: 3em;
  margin: 5px;
  cursor: pointer; }
  .icon:hover {
    background-color: #fff; }

.logo {
  display: flex;
  justify-content: center; }

img.logo {
  width: 6em;
  height: 6em; }

.auth-link {
  display: flex;
  justify-content: center; }
  .auth-link p {
    color: rgba(27, 18, 66, 0.5); }

/* devices = laptops, desktops, tablets ---------------*/
@media (min-width: 1025px) {
  .login-left {
    padding-top: 4em; }
    .login-left p {
      width: 50%;
      font-size: 1.5em;
      margin: 1.4em 0em 0.6em 0em; }
    .login-left button {
      width: 55%; }
  .login-right .pg-title {
    font-size: 1.5em;
    margin: 0.5em 0em; }
  .login .login-form {
    max-width: 60%; } }
/*devices = Tablets, iPads-------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .login-left {
    padding-top: 4em; }
    .login-left p {
      width: 60%;
      font-size: 1.3em;
      margin: 1.4em 0em 0.6em 0em; }
    .login-left button {
      width: 65%; }
  .login-right .pg-title {
    font-size: 1.3em;
    margin: 0.5em 0em; }
  .login .login-form {
    max-width: 70%; } }
/*device = Mobile Phone------*/
@media (max-width: 767px) {
  .login-left {
    display: none; }
  .login-right {
    background-color: #1b1242; }
  .login .login-form {
    max-width: 80%; }
    .login .login-form p {
      color: rgba(232, 240, 254, 0.85);
      font-weight: 100;
      font-size: 0.8em; }
    .login .login-form a {
      color: #fff; }
    .login .login-form .pg-title {
      font-size: 0.95em;
      margin: 0.5em 0em; }
    .login .login-form input[type="button"] {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid #e8f0fe;
      color: #e8f0fe;
      margin: 1.5em 0em; }

  .logo {
    margin-bottom: 1em; }

  .icon {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #1b1242;
    background-color: #e8f0fe;
    width: 2.5em;
    height: 2.5em; }

  img.logo {
    width: 5em;
    height: 5em; } }

/*# sourceMappingURL=main.css.map */
