* {
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
}

h1,
h2 {
  font-family: Arial;
}

p {
  font-family: Arial;
}

a {
  color: #1b1242;
  text-decoration: none;
}

input[type=button],
.btn,
a[type=button] {
  border-radius: 50px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(27, 18, 66, 0.25);
  border: 2px solid #1b1242;
  font-family: Arial;
  color: #1b1242;
  text-shadow: 0px 4px 4px rgba(27, 18, 66, 0.25);
  font-size: 1em;
  outline: none;
  margin: 1.5em 0em;
  cursor: pointer;
}

input[type=email],
input[type=password],
input[type=text] {
  border-radius: 0.5em;
  padding: 0.8em 0em;
  padding-left: 0.8em;
  width: 100%;
  border: 1px solid #1b1242;
  font-size: 1em;
  margin-bottom: 0.8em;
  margin-right: 0.8em;
  background-color: #e8f0fe;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus {
  background-color: #fff;
  outline: none;
}
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder {
  color: rgba(27, 18, 66, 0.5);
}

.col-md-6 {
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .hide-md {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }

  .hide-sm {
    display: none;
  }
}
/* COMPONENTS ------------------------------------------- */
.auth-left {
  background-color: #1b1242;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  color: #e8f0fe;
  font-family: Arial;
}
.auth-left p {
  text-align: left;
}
.auth-left button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #e8f0fe;
  color: #e8f0fe;
}
.auth-right {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
.auth-right .pg-title {
  display: flex;
  justify-content: center;
  color: #1b1242;
  font-weight: bold;
  text-align: center;
}
.auth-right input[type=button] {
  background-color: rgba(0, 0, 0, 0);
}
.auth-right input[type=button]:hover {
  background-color: #1b1242;
  color: #e8f0fe;
}
.auth-right p.password-reset {
  float: right;
}

.socials {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #1b1242;
  background-color: #e8f0fe;
  width: 3em;
  height: 3em;
  margin: 5px;
  cursor: pointer;
}
.icon:hover {
  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
}

img.logo {
  width: 6em;
  height: 6em;
}

.auth-link {
  display: flex;
  justify-content: center;
}
.auth-link p {
  color: rgba(27, 18, 66, 0.5);
}

/* devices = laptops, desktops, tablets ---------------*/
@media (min-width: 1025px) {
  .auth-left p {
    width: 50%;
    font-size: 1.5em;
    margin: 1.4em 0em 0.6em 0em;
  }
  .auth-left button {
    width: 55%;
  }
  .auth-right .pg-title {
    font-size: 1.5em;
    margin: 0.5em 0em;
  }
  .auth .auth-form {
    max-width: 60%;
  }
}
/*devices = Tablets, iPads-------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .auth-left p {
    width: 60%;
    font-size: 1.3em;
    margin: 1.4em 0em 0.6em 0em;
  }
  .auth-left button {
    width: 65%;
  }
  .auth-right .pg-title {
    font-size: 1.3em;
    margin: 0.5em 0em;
  }
  .auth .auth-form {
    max-width: 70%;
  }
}
/*device = Mobile Phone------*/
@media (max-width: 767px) {
  .auth-left {
    display: none;
  }
  .auth-right {
    background-color: #1b1242;
  }
  .auth .auth-form {
    max-width: 80%;
  }
  .auth .auth-form p {
    color: rgba(232, 240, 254, 0.85);
    font-weight: 100;
    font-size: 0.8em;
  }
  .auth .auth-form a {
    color: #fff;
  }
  .auth .auth-form .pg-title {
    font-size: 0.95em;
    margin: 0.5em 0em;
  }
  .auth .auth-form input[type=button] {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #e8f0fe;
    color: #e8f0fe;
    margin: 1.5em 0em;
  }

  .logo {
    margin-bottom: 1em;
  }

  .icon {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #1b1242;
    background-color: #e8f0fe;
    width: 2.5em;
    height: 2.5em;
  }

  img.logo {
    width: 5em;
    height: 5em;
  }
}
.reset-password__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reset-password__container .reset-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reset-password__container .reset-password__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  width: 100%;
  background: rgba(232, 240, 254, 0.85);
}
.reset-password__container .reset-password__footer p {
  font-size: 14px;
}
.reset-password__container .reset-password__header {
  display: flex;
  flex-direction: column;
}
.reset-password__container .reset-password__header .logo {
  align-self: center;
}
.reset-password__container .reset-password__header .logo img {
  width: 73px;
}
.reset-password__container .reset-password__header h1 {
  align-self: center;
  margin-top: 5.5%;
  color: #1b1242;
}
.reset-password__container .reset-password__header h2,
.reset-password__container .reset-password__header h1 {
  font-size: 24px;
}
.reset-password__container .reset-password__header div {
  margin-top: 7%;
}
.reset-password__container .reset-password__header div p {
  margin-top: 3.5%;
  width: 60%;
}
.reset-password__container .reset-password__header div form {
  margin-top: 8.7%;
}
.reset-password__container .reset-password__header div form .btn {
  background-color: rgba(0, 0, 0, 0);
}
.reset-password__container .reset-password__header div form .btn:hover {
  background: #1b1242;
  color: #fff;
}

/* devices = laptops, desktops, tablets ---------------*/
@media (min-width: 479px) {
  .reset-password__container {
    margin: 5% auto;
    width: 70%;
  }
  .reset-password__container .reset-password {
    border: 1px solid rgba(27, 18, 66, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 732px;
  }
  .reset-password__container .reset-password__header {
    margin-top: 15%;
  }
  .reset-password__container .reset-password__header div {
    margin-left: 17.7%;
  }
  .reset-password__container .reset-password__header div form {
    width: 70%;
  }
  .reset-password__container .reset-password__footer {
    width: 100%;
  }
}
/* devices = mobiles phones, tablets portrait orientation. ---------------*/
@media (max-width: 479px) {
  .reset-password__container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .reset-password__container .reset-password {
    width: 100%;
  }
  .reset-password__container .reset-password__header {
    margin-top: 5%;
  }
  .reset-password__container .reset-password__header div {
    margin-left: 7%;
  }
  .reset-password__container .reset-password__header div form input {
    width: 90%;
  }
  .reset-password__container__footer {
    padding-top: 5%;
    width: 100%;
  }
}
.reading-stats {
  width: 60%;
  margin: 11% auto;
}
.reading-stats p {
  padding-top: 2%;
}
.reading-stats h1 {
  font-size: 24px;
  color: #1b1242;
}
.reading-stats__categories {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 103px;
  width: 100%;
}
.reading-stats__categories div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.reading-stats__categories div:hover {
  box-shadow: none;
  cursor: pointer;
}
.reading-stats__categories div:hover p {
  color: #000;
}
.reading-stats__categories div:hover p span {
  color: #000;
}
.reading-stats__categories div p {
  line-height: 20px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 10%;
}
.reading-stats__categories div p span {
  display: block;
  padding-bottom: 4%;
  line-height: 30px;
  font-size: 24px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.5);
}
.reading-stats__graph {
  margin-top: 10%;
  width: 100%;
}
.reading-stats__graph img {
  width: 100%;
  height: auto;
}
.reading-stats .story {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.reading-stats .story__description {
  width: 70%;
}
.reading-stats .story__description p {
  margin: 1% 0;
}
.reading-stats .story__activities {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.reading-stats .story__activities div {
  width: 33.3%;
}
.reading-stats .story__activities div p span {
  display: none;
}

/*device = Mobile Phone (Landscape) tablet(portrait)------*/
@media (max-width: 767px) {
  .reading-stats {
    width: 94%;
    margin: 11% 3%;
  }
}
/*device = Mobile Phone (Portrait)------*/
@media (max-width: 478px) {
  .reading-stats {
    width: 94%;
    margin: 15% 3%;
  }
  .reading-stats__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 103px;
    width: 100%;
  }
  .reading-stats__categories div {
    width: 50%;
  }
  .reading-stats__categories div p {
    font-size: 1em;
  }
  .reading-stats__categories div p span {
    letter-spacing: 1px;
    font-size: 1em;
    display: inline;
  }
  .reading-stats .story:nth-child(1) .story__activities {
    display: none;
  }
  .reading-stats .story {
    flex-wrap: wrap;
  }
  .reading-stats .story__description {
    width: 100%;
  }
  .reading-stats .story__activities {
    width: 100%;
    flex-wrap: wrap;
  }
  .reading-stats .story__activities div {
    width: 100%;
  }
  .reading-stats .story__activities div p span {
    display: inline;
  }
}

/*# sourceMappingURL=main.css.map */
