.nav-bar {
  background-color: $color-primary;
  color: $white-secondary;
  font-family: $font-family;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  .nav-container {
    @include row {
      justify-content: space-between;
      align-items: center;
      padding: 5px 15px;
    }
    .brand-name,
    .auth-actions {
      @include row {
        align-items: center;
      }
    }
    .user-actions {
      @include row {
        justify-content: flex-end;
      }
      .search-action {
        margin-right: 15px;
      }
      .other-actions {
        .sign-up {
          padding-right: 15px;
          font-size: $font-size * 0.8;
        }
      }
    }
  }
  .menu {
    width: 30px;
    margin-top: 40%;
    padding-right: 10px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 12px 15px 0 0;
      border: 1px solid white;
      border-radius: 900px;
      a {
        color: white;
        text-decoration: none;
        padding: 10px;
      }
    }
  }

  .search-filed {
    width: 70%;
    align-self: center;
    input[type="search"] {
      width: 3%;
      background-color: transparent;
      background-image: url("../../../src/assets/img/search.svg");
      min-height: 30px;
      background-size: 30px 20px;
      background-repeat: no-repeat;
      background-position: 5px 5px;
      padding: 5px 15px;
      transition: width 0.4s ease-in-out;
      border: none;
      float: right;
      margin-right: 15px;
      cursor: pointer;
    }
    input[type="search"]:focus,
    input[type="search"]:not(:placeholder-shown) {
      width: 100%;
      border-color: $white-secondary;
      color: $white-secondary;
      padding-left: 35px;
      border: 2px solid $white-secondary;
      border-radius: 5px;
      font-size: 16px;
      outline-style: none;
      cursor: auto;
    }
  }
  .drop-down {
    display: none;
  }

  .container {
    margin: 0.9em;
  }
  header {
    display: flex;
    justify-content: space-between;
    background: $color-primary;
    height: 42px;
    width: 100%;
  }
  button {
    background-color: white;
    padding: 0.3em 2em;
    color: $color-primary;
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid $color-primary;
    border-radius: 25px;
    font-weight: bold;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    // mobile view
    .hide-mobile {
      display: none;
    }
    .show-mobile {
      display: block;
    }
  }
}
