@mixin row {
  display: flex;
  flex-direction: row;
  @content;
}

@mixin column {
  display: flex;
  flex-direction: column;
  @content;
}
@mixin space-around {
  display: flex;
  justify-content: space-around;
  @content;
}
@mixin icon {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $color-primary;
  background-color: $white-secondary;
  @content;
}

@mixin input {
  border-radius: 0.5em;
  padding: 0.8em 0em;
  padding-left: 0.8em;
  width: 100%;
  border: 1px solid $color-primary;
  font-size: $font-size;
  margin-bottom: 0.8em;
  margin-right: 0.8em;
  background-color: $white-secondary;
  &:focus {
    background-color: $white-primary;
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $color-secondary;
  }
  @content;
}

@mixin center {
  display: flex;
  justify-content: center;
  @content;
}

@mixin btn {
  border-radius: 50px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px $color-shade;
  border: 2px solid $color-primary;
  font-family: $font-family;
  color: $color-primary;
  text-shadow: 0px 4px 4px $color-shade;
  font-size: $font-size;
  outline: none;
  margin: 1.5em 0em;
  cursor: pointer;
  @content;
}
@mixin two-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

@mixin card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  background: $white-primary;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  @content;
}

@mixin tag-or-follow-btn {
  text-align: left;
  border: 1px solid $color-primary;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  text-shadow: 0px 4px 4px $color-shade;
  font-size: ($font-size * 0.7);
  cursor: pointer;
  padding: 2.5px 15px 2.5px 5px;
  border-radius: 5px;
  margin: 2px 2px;
  @content;
}

@mixin col {
  &-12 {
    width: 100%;
  }
  &-11 {
    width: 91.66%;
  }
  &-10 {
    width: 83.33%;
  }
  &-8 {
    width: 66.66%;
  }
  &-7 {
    width: 58.33%;
  }
  &-6 {
    width: 50%;
  }
  &-5 {
    width: 41.66%;
  }
  &-4 {
    width: 33.33%;
  }
  &-3 {
    width: 25%;
  }
  &-2 {
    width: 16.66%;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @content;
}
