$white-primary: #fff;
$white-secondary: rgba(232, 240, 254, 1);
$white-shade: rgba(232, 240, 254, 0.85);
$color-primary: #1b1242;
$color-secondary: rgba(27, 18, 66, 0.5);
$color-shade: rgba(27, 18, 66, 0.25);
$color-grey: #a2a2a2;
$font-size: 1em;
$font-family: Arial;

$break-point-desktop: 1025;
$break-point-tablet: 768;
$break-point-mobile: 479;
