.article-comments {
  margin-top: 1em;
  margin-bottom: 1em;
  .article-comments--new {
    @include card {
      display: flex;
      flex: auto;
      flex-direction: row;
    }
    @include border-bottom-line;
  }
  .article-comments--new-text {
    margin-left: 5em;
    padding-top: 1.5em;
    border: none;
    background-color: inherit;
  }
  .article-comments--existing__desktop {
    @include card {
      display: flex;
      flex: auto;
      flex-direction: row;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
    @include border-bottom-line;
  }

  .article-comments--existing__mobile {
    display: none;
  }

  .article-comments--existing-text {
    margin-left: 5em;
  }
  .article-comments--actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.6em;
    .comment-edit-delete {
      margin-right: 5em;
      .comment-edit {
        margin-right: 3em;
      }
    }
  }

  .comment-avatar-wrapper {
    display: flex;
    flex-direction: column;
    .comment-author_name {
      text-align: center;
    }
  }
  .article-comments--more {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 0.1em;
    border-color: $gray;
    border-style: solid;
    padding: 0.25em 0em;
    border-radius: 1%;
  }
}

@media (max-width: #{$break-point-tablet - 1}px) {
  .article-content {
    .article-comments {
      .article-comments--new,
      .article-comments--existing__desktop {
        display: none;
      }
    }
    .article-comments {
      .article-comments--new,
      .article-comments--existing__mobile {
        display: block;
        .comment-avatar-wrapper {
          margin-left: 1em;
        }
      }
    }
  }
}
