.latest_article_content {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 0 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  height: 250px;
  .pic {
    width: 30%;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .article_text {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
    h3 {
      margin: 5px 0 5px 0;
    }
    .avatar-wrapper {
      display: flex;
      flex-direction: row;
      .avatar {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin: 0.3%;
      }
      .name_minutes {
        margin: 20px 0 0 4px;
        .date_read_time {
          color: #8e8d92;
        }
        .author_name {
          color: #000000;
          font-weight: bold;
        }
      }
    }
    .tex-content__body {
      flex: 1;
      max-height: 115px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icons {
      display: flex;
      flex-direction: row;
      margin: 5px 0 5px 0;
      justify-content: space-between;
      .right-icons {
        margin-right: 5px;
      }
      div {
        display: flex;
        margin: 0 15px 0 3px;
        img {
          cursor: pointer;
          height: 20px;
          width: 20px;
        }
      }
      .arrow-options {
        text-align: right;
      }
    }
  }
}
.latest_article_content:last-child {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .latest_article_content {
    margin: 10px 10px 0 10px;
    .article_text {
      .tex-content__body {
        max-height: 125px;
      }
      .avatar-wrapper {
        .avatar {
          width: 50px;
          height: 50px;
        }
      }
      .icons {
        .left-icons {
          margin: 0 5px 0 3px;
        }
      }
    }
  }
}
@media screen and (max-width: 440px) {
  .latest_article_content {
    .pic {
      height: 85%;
    }
  }
  .latest_article_content {
    .article_text {
      .icons {
        margin-left: -42%;
      }
    }
  }
}
