.col-md {
  @include col;
}
.row {
  @include row;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: #{$break-point-tablet}px) {
  .hide-md {
    display: none !important;
  }
  .main {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .col-av {
    @include col;
  }
  .main {
    margin-top: 30px;
  }
}
@media (max-width: #{$break-point-tablet - 1}px) {
  .col-sm {
    @include col;
  }
  .hide-sm {
    display: none;
  }
  .main {
    margin-top: 60px;
  }
}
