.col {
  &-md-6 {
    width: 50%;
  }
}
.hide-md {
  display: none !important;
}

.row {
  @include row;
}

.container {
  display: flex;
  flex-direction: column;
}
@media (max-width: #{$break-point-tablet - 1}px) {
  .col {
    &-sm-12 {
      width: 100%;
    }
  }
  .hide-sm {
    display: none !important;
  }
  .hide-md {
    display: flex;
  }
}
