body {
  .article-container {
    @include center;
    margin: 0;
    padding-top: 5em;
    border-radius: 5px;
    .article-share {
      @include column {
        align-items: center;
      }
      width: 10%;
      padding-top: 2.5em;
      .share-icons {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .share-icon {
          width: 30px;
          height: 30px;
          &:not(:first-child) {
            margin-top: 1em;
          }
        }
      }
      .popup__report {
        p {
          margin-top: 10px;
        }
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        top: 500px;
        position: fixed;
      }
    }
    .reporting__form__container {
      margin-top: -4%;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      @include column {
        align-items: center;
        justify-content: center;
      }
      div {
        height: 30%;
        width: 40%;
        border-radius: 5px;
        padding: 2%;
        background: white;
        h3 {
          margin: auto;
        }
        .report_input {
          border-radius: 5px;
          margin-top: 10px;
          height: 45%;
          width: 100%;
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 5px;
          input {
            width: 100%;
            border: none;
            height: auto;
            text-indent: 20px;
            text-overflow: true;
            &::placeholder {
              font-size: 16px;
            }
            &:focus {
              outline: none;
            }
          }
        }
        .submit_report {
          width: 100%;
          @include row {
            justify-content: flex-start;
          }
          .report {
            height: 30px;
            border-radius: 5px;
            margin-right: 5px;
            width: 20%;
            min-width: 100px;
            max-width: 150px;
            &:hover {
              background: $color-primary;
              color: white;
            }
            &:disabled {
              background: gray;
            }
          }
        }
      }
    }
    .article {
      margin-left: 1%;
      @include column;
      width: 70%;
      @include border-left-right;
      @include border-bottom-line;
      padding: 2.5em 3em 0.5em 3em;
      order: 2;
      border-radius: 5px;
      .article-author {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        .author-profile {
          justify-content: flex-start;
        }

        .author-follow {
          justify-content: flex-end;
          @include btn {
            width: 7em;
            height: 2em;
          }

          @include action-btn__mobile {
            background-color: transparent;
          }
        }
      }
      .article-title {
        align-content: center;
        text-align: center;
        font-size: $font-size-large;
        margin-bottom: 1em;
        font-weight: bold;
      }

      .tags {
        .tag {
          margin-left: 1.2em;
        }
        margin-bottom: 1em;
        margin-top: 1em;
        @include display-tags;
        margin-left: inherit;
        margin-right: 16px;
      }
    }
    @media (max-width: #{$break-point-tablet - 1}px) {
      .article {
        width: 90%;
        padding: 1.5em 2.5em 0.5em 1em;
        border-right: none;
        border-left: none;
      }
      .article-text {
        p {
          margin-top: 20px;
        }
      }
    }

    .article-others {
      @include column;
      width: 25%;
      order: 3;
      padding-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
      .article-other {
        margin-bottom: 2em;
        @include card {
          display: flex;
          flex: auto;
          line-height: inherit;
        }
        @include border-left-right;
        @include border-bottom-line;
      }
    }

    @media (max-width: #{$break-point-tablet - 1}px) {
      .article-others,
      .right {
        display: none;
      }
    }
    .article-text {
      overflow: scroll;
      p {
        margin-top: 20px;
        a {
          color: #3498db;
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: #{$break-point-tablet - 1}px) {
    .article-container {
      margin-left: 0em;
      margin-right: 0em;
      .article {
        .article-text {
          height: 100vh;
          overflow: scroll;
          p {
            margin-top: 20px;
          }
        }
        .article-title {
          text-align: left;
          font-size: $font-size-medium;
          margin-bottom: 0.7em;
          font-weight: bold;
        }

        .article-comments--more {
          content: "Check if applied";
        }
      }
      .article-share {
        margin-left: 1em;
        width: 10%;
        height: 100vh;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.delete_article,
.edit_article {
  width: 20%;
  height: 20px;
  min-width: 60px;
  max-width: 100px;
}
