/* COMPONENTS ------------------------------------------- */

.update-profile-container {
  @include flex-center;
  @include column;
  padding: 2em 0em;
  border: 1px solid rgba(27, 18, 66, 0.1);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .update {
    @include row;
    p,
    h2 {
      color: $color-primary;
    }
    &-left {
      background-color: $white-primary;
      @include column;
      align-items: center;
      justify-content: flex-start;
      width: 50%;
      .logo-container {
        @include flex-center;
        @include column;
        img {
          margin-bottom: 1em;
        }
      }
      .avatar-container {
        @include center;
        input[type="file"] {
          position: absolute;
          opacity: 0;
          border-radius: 50%;
          cursor: pointer;
        }
        .avatar-upload {
          position: relative;
          max-width: 205px;
          margin: 50px auto;
          .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
              display: none;
              + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
                &:hover {
                  background: #f1f1f1;
                  border-color: #d6d6d6;
                }
                &:after {
                  content: "\f040";
                  font-family: "FontAwesome";
                  color: #757575;
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  text-align: center;
                  margin: auto;
                }
              }
            }
          }
          .avatar-preview {
            width: 192px;
            height: 192px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #f8f8f8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            > img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
    &-right {
      @include flex-center;
      @include column;
      width: 50%;
      .button {
        @include btn;
        background-color: $color-primary;
        color: $white-primary;
      }
    }
  }
}

/* devices = laptops, desktops, tablets landscape orientation---------------*/
@media (min-width: #{$break-point-desktop}px) {
  .update-profile-container {
    margin: 5em 10em;
    max-width: 80%;
    .update {
      &-left {
        .avatar-container {
          @include center;
          input[type="file"] {
            height: 15vw;
            width: 15vw;
          }
        }
        .avatar {
          height: 15vw;
          width: 15vw;
        }
      }
      &-right {
        p {
          text-align: center;
          float: center;
          font-size: 1.5em;
          margin-bottom: 1em;
        }
      }
      .update-form {
        max-width: 60%;
        min-height: 100%;
      }
    }
  }
}

/* devices = tablets portrait orientation. ---------------*/
@media (max-width: #{$max-size-tablet}px) {
  .update-profile-container {
    margin: 3em;
    .update {
      &-left {
        .avatar-container {
          input[type="file"] {
            height: 20vw;
            width: 20vw;
          }
          .avatar {
            height: 20vw;
            width: 20vw;
          }
        }
      }
      &-right {
        p {
          text-align: center;
          float: center;
          font-size: 1.5em;
          margin-bottom: 1em;
        }
      }
      .update-form {
        max-width: 90%;
        min-height: 100%;
      }
    }
  }
}

/* devices = mobile phones. ---------------*/
@media (max-width: #{$break-point-mobile}px) {
  .update-profile-container {
    max-width: 80rem;
    margin: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    border: 1px solid transparent;
    box-shadow: none;
    .update {
      flex-wrap: wrap;
      &-left {
        width: 100%;
        .logo-container {
          display: none;
        }
        .avatar-container {
          margin-bottom: 1.5em;
          input[type="file"] {
            height: 30vw;
            width: 30vw;
          }
          .avatar {
            height: 30vw;
            width: 30vw;
          }
        }
      }
      &-right {
        width: 100%;
        p {
          display: none;
          text-align: center;
          float: center;
          font-size: 1.5em;
          margin-bottom: 1em;
        }
      }
      .update-form {
        max-width: 100%;
        min-height: 100%;
      }
    }
  }
}
