@mixin on-or-off {
  padding: 2px 5px;
  width: 50%;
  height: 100%;
  color: $color-primary;
}
@mixin active-status {
  color: $white-primary;
  background-color: $color-primary;
}
.user-settings {
  @include center {
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  font-family: $font-family;
  h2.setting-title {
    font-size: $font-size * 1.5;
    margin-bottom: 15px;
  }
  h3 {
    font-weight: normal;
    font-size: $font-size * 1.2;
  }
  p {
    font-size: $font-size * 0.9;
  }
  input[type="button"] {
    background-color: transparent;
    &:hover {
      color: $white-primary;
      background-color: $color-primary;
    }
  }
  ul.settings-options {
    list-style: none;
    li {
      margin-bottom: 5px;
      min-width: 50%;
      a {
        padding: 5px;
        font-size: $font-size * 1.2;
        &.active {
          background-color: $white-secondary;
          border-left: 2px solid $color-primary;
        }
      }
    }
  }
  section {
    margin-bottom: 15px;
  }
  .notification-settings {
    @include row {
      justify-content: space-between;
    }
    .notification-toggle {
      position: relative;
      display: block;
      border: 1px solid $color-primary;
      width: 80px;
      height: 25px;
      border-radius: 5px;
      color: $white-secondary;
      .on {
        float: left;
        @include on-or-off;
      }
      .off {
        float: right;
        @include on-or-off;
      }
      input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      input[type="checkbox"] + .on-off {
        .off {
          @include active-status;
          transition: background 200ms linear;
        }
      }
      input[type="checkbox"]:checked + .on-off {
        .on {
          @include active-status;
          transition: background 200ms linear;
        }
        .off {
          transition: background 200ms linear;
          background-color: transparent;
          color: $color-primary;
        }
      }
    }
  }
  #account-settings {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-shade;
    h3,
    p {
      padding-bottom: 10px;
    }
  }
  a.danger {
    color: $color-red;
    font-style: italic;
    text-decoration: underline;
    font-size: $font-size * 0.8;
  }
  @media (min-width: #{$break-point-tablet}px) {
    height: 70vh;
    .settings-content {
      section {
        display: none;
      }
      // #password-settings:target,
      // #email-settings:target,
      // #account-settings:target {
      //   display: block;
      // }

      #password-settings,
      #email-settings,
      #account-settings {
        display: block;
      }

      form {
        input[type="button"] {
          float: right;
          max-width: 40%;
          &:hover {
            color: $white-primary;
            background-color: $color-primary;
          }
        }
      }
    }
  }

  @media (max-width: #{$break-point-tablet - 1}px) {
    margin: 0px 15px;
    section {
      padding-bottom: 15px;
      border-bottom: 1px solid $color-shade;
    }
  }
}
