/* COMPONENTS ------------------------------------------- */
.login {
  &-left {
    background-color: $color-primary;
    @include two-screen;
    color: $white-secondary;
    font-family: $font-family;
    p {
      text-align: left;
    }
    button {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid $white-secondary;
      color: $white-secondary;
    }
  }
  &-right {
    background-color: $white-primary;
    @include two-screen;
    .pg-title {
      @include center;
      color: $color-primary;
      font-weight: bold;
      text-align: center;
    }
    input[type="button"] {
      background-color: rgba(0, 0, 0, 0);
      &:hover {
        background-color: $color-primary;
        color: $white-secondary;
      }
    }
    p.password-reset {
      float: right;
    }
  }
}

.socials {
  @include center;
}
.icon {
  @include icon {
    width: 3em;
    height: 3em;
    margin: 5px;
    cursor: pointer;
  }
  &:hover {
    background-color: $white-primary;
  }
}

.logo {
  @include center;
}

img.logo {
  width: 6em;
  height: 6em;
}

.auth-link {
  @include center;
  p {
    color: $color-secondary;
  }
}

/* devices = laptops, desktops, tablets ---------------*/
@media (min-width: #{$break-point-desktop}px) {
  .login {
    &-left {
      padding-top: 4em;
      p {
        width: 50%;
        font-size: 1.5em;
        margin: 1.4em 0em 0.6em 0em;
      }
      button {
        width: 55%;
      }
    }
    &-right {
      .pg-title {
        font-size: 1.5em;
        margin: 0.5em 0em;
      }
    }
    .login-form {
      max-width: 60%;
    }
  }
}

/*devices = Tablets, iPads-------------*/
@media (min-width: #{$break-point-tablet}px) and (max-width: #{$break-point-desktop - 1}px) {
  .login {
    &-left {
      padding-top: 4em;
      p {
        width: 60%;
        font-size: 1.3em;
        margin: 1.4em 0em 0.6em 0em;
      }
      button {
        width: 65%;
      }
    }
    &-right {
      .pg-title {
        font-size: 1.3em;
        margin: 0.5em 0em;
      }
    }
    .login-form {
      max-width: 70%;
    }
  }
}

/*device = Mobile Phone------*/
@media (max-width: #{$break-point-tablet - 1}px) {
  .login {
    &-left {
      display: none;
    }
    &-right {
      background-color: $color-primary;
    }
    .login-form {
      max-width: 80%;
      p {
        color: $white-shade;
        font-weight: 100;
        font-size: 0.8em;
      }
      a {
        color: $white-primary;
      }
      .pg-title {
        font-size: 0.95em;
        margin: 0.5em 0em;
      }
      input[type="button"] {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid $white-secondary;
        color: $white-secondary;
        margin: 1.5em 0em;
      }
    }
  }
  .logo {
    margin-bottom: 1em;
  }

  .icon {
    @include icon {
      width: 2.5em;
      height: 2.5em;
    }
  }
  img.logo {
    width: 5em;
    height: 5em;
  }
}
