body {
  .container {
    margin: 0;
    @include center;
    .buttons {
      margin-top: 5em;
      margin-left: auto;
      margin-right: 5em;
      margin-bottom: 1.5em;
      justify-content: space-between;
      @media (max-width: #{$break-point-tablet - 1}px) {
        margin-right: 1em;
      }
    }
    .button--white {
      @include btn {
        width: 7em;
        height: 2em;
      }

      @include action-btn__mobile {
        background-color: transparent;
      }
    }
    .button--dark {
      @include btn {
        width: 7em;
        height: 2em;
        color: $white-shade;
        background-color: $color-primary;
      }

      @include action-btn__mobile;
    }

    .title {
      height: 4em;

      .title__input {
        margin-left: 0.45em;
        margin: auto;
        border: none;
        background: blue($color: #000000);
        font-family: $font-family;
        font-size: $font-size-large;
        text-transform: capitalize;
        @media (max-width: #{$break-point-tablet - 1}px) {
          font-size: $font-size-medium;
          text-transform: capitalize;
          font-family: $font-family;
        }
      }
    }
    .tags {
      @include display-tags;
      .ico-times:before {
        content: "\2715";
      }
      .ico-times {
        margin-left: 0.5em;
      }
    }

    .main-article {
      border-radius: 10px;
      border-top: 1px solid $gray;
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
      margin: 0em 5em;
      height: 50em;
      @media (max-width: #{$break-point-tablet - 1}px) {
        margin: 0em 1em;
      }

      .article {
        width: 100%;
        height: 100%;
        border-style: none;
        border-color: Transparent;
        overflow: auto;
      }
    }
    .line__title {
      @include horizontal-line;
    }
  }
}
