.nav-bar {
  @include row {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    background: $color-primary;
  }
  .logo {
    height: 100%;
  }
  div {
    height: 100%;
  }
  .profile-avatar {
    div {
      @include row {
        align-content: center;
      }
      p {
        color: $white-primary;
        margin-top: 11%;
        margin-left: 5%;
        width: 100px;
      }
      .nav-bar__image {
        width: 46px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }
}
