.reset-password__container {
  @include row {
    justify-content: center;
    margin-top: 61px;
  }

  .reset-password {
    @include column;
    .reset-password__footer {
      @include row {
        justify-content: center;
        align-items: center;
      }
      height: 65px;
      flex-grow: 1;
      background: $white-shade;
      p {
        font-size: 14px;
      }
    }
    .reset-password__header {
      @include column;
      margin-top: 100px;
      flex-grow: 10;
      .logo {
        align-self: center;
        img {
          width: 73px;
        }
      }
      h1 {
        align-self: center;
        margin-top: 30px;
        color: $color-primary;
      }
      h2,
      h1 {
        font-size: 24px;
      }
      div {
        margin-top: 40px;
        p {
          margin-top: 20px;
          width: 316px;
        }
        form {
          margin-top: 50px;

          .btn {
            &:hover {
              background: $color-primary;
              color: $white-primary;
            }
          }
        }
      }
    }
  }
}

/* devices = laptops, desktops, tablets ---------------*/
@media (min-width: #{$break-point-desktop}px) {
  .reset-password {
    border: 1px solid rgba(27, 18, 66, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 586px;
    height: 732px;
    form {
      input {
        width: 409px;
      }
    }
  }
  .reset-password__header {
    div {
      margin-left: 101.72px;
    }
  }
}

/* devices = mobiles phones, tablets portrait orientation. ---------------*/
@media (max-width: #{$break-point-tablet}px) {
  .reset-password__container {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    .reset-password {
      width: 100%;
      div {
        margin: auto;
        input {
          width: 95%;
        }
      }
      .reset-password__footer {
        width: 100%;
      }
    }
  }
}
