.reset-password__container {
  @include row {
    justify-content: center;
    margin-top: 61px;
  }

  .reset-password {
    @include column;
    .reset-password__footer {
      @include row {
        justify-content: center;
        align-items: center;
      }
      height: 65px;
      flex-grow: 1;
      background: $white-shade;
    }
    .reset-password__header {
      @include column;
      margin-top: 50px;
      flex-grow: 10;
      .logo {
        align-self: center;

        img {
          width: 73px;
        }
      }
      h1 {
        align-self: center;
        margin-top: 30px;
        color: $color-primary;
      }
      h2,
      h1 {
        font-size: 24px;
      }
      div {
        margin-top: 40px;
        p {
          margin-top: 20px;
          width: 316px;
        }
        form {
          margin-top: 50px;

          .btn {
            &:hover {
              background: $color-primary;
              color: $white-primary;
            }
          }
        }
      }
    }
  }
}

/* devices = laptops, desktops, tablets ---------------*/
@media (min-width: #{$break-point-desktop}px) {
  .reset-password {
    border: 1px solid rgba(27, 18, 66, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 586px;
    height: 732px;
    form {
      input {
        width: 409px;
        height: 60px;
      }
    }
  }
  // .logo {
  //   margin-left: 127px;
  // }
  .reset-password__header {
    div {
      margin-left: 101.72px;
    }
  }
}

/*devices = Tablets, iPads-------------*/
@media (min-width: #{$break-point-tablet}px) and (max-width: #{$break-point-desktop - 1}px) {
  .reset-password {
    border: 1px solid rgba(27, 18, 66, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 586px;
    height: 732px;
    form {
      input {
        width: 409.7px;
        height: 50.82px;
      }
    }
  }
  // .logo {
  //   margin-left: 127px;
  // }
  .reset-password__header {
    div {
      margin-left: 101.72px;
    }
  }
}

/*device = Mobile Phone------*/
@media (min-width:#{$break-point-mobile}px) and (max-width: #{$break-point-tablet - 1}px) {
  .reset-password {
    border: 1px solid rgba(27, 18, 66, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 586px;
    height: 732px;
    form {
      input {
        width: 409.7px;
        height: 50.82px;
      }
    }
  }
  // .logo {
  //   margin-left: 127px;
  // }
  .reset-password__header {
    div {
      margin-left: 101.72px;
    }
  }
}

@media (max-width:#{$break-point-mobile}) {
  .reset-password__container {
    width: 100%;
    .reset-password {
      width: 100%;
      // .logo {
      //   left: 100px;
      // }
    }
  }
}
