* {
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

h1,
h2 {
  font-family: $font-family;
}

p {
  font-family: $font-family;
}

a {
  color: $color-primary;
  text-decoration: none;
}

.btn:hover {
  background-color: $color-primary;
  color: $white-primary;
}
