input[type="button"],
.btn,
a[type="button"] {
  @include btn;
}

button,
input[type="button"] {
  &:disabled {
    border: 2px solid $gray;
    background-color: $gray !important;
    color: #666666 !important;
  }
  &.delete-profile {
    color: red;
    font-weight: bold;
  }
}

.btn:hover {
  background-color: $color-primary;
  color: $white-primary;
}

.focus {
  justify-content: center;
  @include btn {
    width: 7em;
    height: 2em;
    color: $white-primary;
    background-color: $color-primary;
  }
  @include action-btn__mobile;
}

.btn:hover {
  background-color: $color-primary;
  color: $white-primary;
}

.focus {
  justify-content: center;
  @include btn {
    width: 7em;
    height: 2em;
    color: $white-primary;
    background-color: $color-primary;
  }
  @include action-btn__mobile;
}
