// file edited from https://codepen.io/SufferMyJoy/pen/GgRJwv?editors=1100
$color_1: #059;
$color_2: #270;
$color_3: #9f6000;
$color_4: #d8000c;
$font_family_1: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
$background_color_1: #bef;
$background_color_2: #dff2bf;
$background_color_3: #feefb3;
$background_color_4: #ffbaba;

.info-msg {
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_1;
  background-color: $background_color_1;
}
.success-msg {
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_2;
  background-color: $background_color_2;
}
.warning-msg {
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_3;
  background-color: $background_color_3;
}
.error-msg {
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_4;
  background-color: $background_color_4;
}

.msg {
  height: 40px;
}
