.info-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_1;
  background-color: $background_color_1;
}
.success-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_2;
  background-color: $background_color_2;
}
.warning-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_3;
  background-color: $background_color_3;
}
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: $color_4;
  background-color: $background_color_4;
}
