$color_1: white;
$color_2: #FFFFFF;
$color_3: #999999;
$font_family_1: Trebuchet, Arial, sans-serif;
$background_color_1: #1b1242;
$background_color_2: #EEEEEE;

.onoffswitch {
	position: relative;
	width: 90px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
	&:checked {
		&+.onoffswitch-label {
			.onoffswitch-inner {
				margin-left: 0;
			}
			.onoffswitch-switch {
				right: 0px;
			}
		}
	}
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 20px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
	&:before {
		display: block;
		float: left;
		width: 50%;
		height: 30px;
		padding: 0;
		line-height: 30px;
		font-size: 14px;
		color: $color_1;
		font-family: $font_family_1;
		font-weight: bold;
		box-sizing: border-box;
		content: "ON";
		padding-left: 10px;
		background-color: $background_color_1;
		color: $color_2;
	}
	&:after {
		display: block;
		float: left;
		width: 50%;
		height: 30px;
		padding: 0;
		line-height: 30px;
		font-size: 14px;
		color: $color_1;
		font-family: $font_family_1;
		font-weight: bold;
		box-sizing: border-box;
		content: "OFF";
		padding-right: 10px;
		background-color: $background_color_2;
		color: $color_3;
		text-align: right;
	}
}
.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: 6px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 56px;
	border: 2px solid #999999;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
