#search-popover {
  top: 38px;
  box-sizing: border-box;
  width: 360px;
  height: 286px;
  overflow: hidden;
  position: absolute;
  z-index: 900;
  font-size: 15px;
  text-align: center;
  padding: 15px;
  pointer-events: auto;
  .popover-inner {
    position: relative;
    max-width: 360px;
    height: "260px";
    padding: 14px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(27, 18, 66, 0.25), 0 0 1px rgba(27, 18, 66, 0.35);
    overflow: auto;
    border-radius: 5px;
    .header {
      max-width: 220px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .suggestion-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 15px;
      margin-left: 14px;
      margin-right: 14px;
      h2 {
        font-size: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    }
    .popover-content {
      max-height: "250px";
    }
    ul {
      margin-top: 5px;
      margin-bottom: 0;
      list-style: none;
      padding: 0px;
      li:not(:last-child) {
        .link {
          border-bottom: 0.25px solid $color-primary;
        }
      }
      .list-item {
        list-style: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 40px 0 35px;
        padding: 0;
        text-align: start;
        list-style: none;
        .link {
          display: flex;
          padding: 5px 0px;
          .avatar {
            width: 32px;
            height: 32px;
            border-radius: 3px;
            display: inline-block;
            vertical-align: middle;
          }

          .article-author {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            .article-title {
              padding-left: 10px;
              white-space: nowrap;
              &:hover {
                color: $color-primary;
                text-decoration: underline;
                font-style: italic;
              }
            }
            .add-info {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              p {
                font-size: 12px;
                padding-top: 5px;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .popover-arrow {
    top: 1px;
    clip: rect(0 18px 14px -4px);
    left: 145px;
    margin-left: 25px;
    position: absolute;
    &::after {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background: #fff;
      -webkit-transform: rotate(45deg) translate(6px, 6px);
      transform: rotate(45deg) translate(6px, 6px);
      -webkit-box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.54);
      box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.54);
    }
  }
  @media (min-width: #{$break-point-tablet}px) {
    left: 810.983px;
  }
}
